streamlit==1.35.0
openai-whisper==20231117
transformers==4.41.2
torch==2.1.2
spacy==3.7.4
plotly==5.21.0
requests==2.32.3
pandas==2.2.2
python-dotenv==1.0.1
matplotlib==3.8.4
protobuf==4.25.3
tenacity==8.2.3
nltk==3.8.1
scipy==1.13.1
tqdm==4.66.4
ffmpeg-python==0.2.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

